<launch>
    <include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch" >
        <arg name="second_robot" value="false"/>
        <arg name="obstacles" value="false"/>
        <arg name="fake_localisation" value="true"/>
    </include>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d thorvald_rviz_config.rviz" />
    <node pkg="vision" type="vision_node.py" name="vision_node" args="thorvald_001"/>
    <node pkg="navigation" type="moving_thorvald.py" name="moving_thorvald" args="thorvald_001" />
    <node pkg="state_machine" type="state_machine.py" name="state_machine" args="thorvald_001" />
</launch>